body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-39px;
  width:584px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 137, 14, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:193px;
  width:584px;
  height:43px;
  display:flex;
  color:#000000;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:207px;
  width:52px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线 Bold', '等线 Regular', '等线', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:207px;
  width:52px;
  height:14px;
  display:flex;
  font-family:'等线 Bold', '等线 Regular', '等线', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(216, 127, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 93, 6, 1);
  border-radius:1px;
  -moz-box-shadow:5px 5px 5px rgba(243, 134, 6, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(243, 134, 6, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(243, 134, 6, 0.349019607843137);
  font-size:11px;
  color:#FFFFFF;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:203px;
  width:57px;
  height:22px;
  display:flex;
  font-size:11px;
  color:#FFFFFF;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 137, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 93, 6, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:203px;
  width:57px;
  height:22px;
  display:flex;
  font-size:11px;
  color:#FFFFFF;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 137, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 93, 6, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:203px;
  width:57px;
  height:22px;
  display:flex;
  font-size:11px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 137, 14, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 93, 6, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:203px;
  width:57px;
  height:22px;
  display:flex;
  font-size:11px;
  color:#FFFFFF;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:rgba(127, 127, 127, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  letter-spacing:normal;
  color:rgba(127, 127, 127, 0.349019607843137);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 127, 23, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(127, 127, 127, 0.349019607843137);
}
#u7 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:203px;
  width:140px;
  height:21px;
  display:flex;
  font-size:11px;
  color:rgba(127, 127, 127, 0.349019607843137);
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 127, 23, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:rgba(127, 127, 127, 0.349019607843137);
}
#u7.disabled {
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:208px;
  width:13px;
  height:13px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'等线', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#AAAAAA;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:210px;
  width:77px;
  height:10px;
  display:flex;
  font-family:'等线', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#AAAAAA;
}
#u9 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
